textarea {
    width: 100%;
    
}

button {
    background-color: lightskyblue;
    color: white;
    width: 100%;
}

#city {
    border: 2px solid black;
    margin: 1%;
    padding: 2%;
}

#week {
    margin: 1%;
}

.card {
    background-color: cornflowerblue;
    color: white;
    margin: 1%;
}

ul {
    list-style: none;
}

h6 {
    border: 1px solid black;
    margin: 1%;
}

#week {
    display: flex;
    flex-direction: row;
}