textarea {
    width: 100%;
    
}

button {
    background-color: lightskyblue;
    color: white;
}

#city {
    border: 2px solid black;
    margin: 1%;
    padding: 2%;
}

#week {
    margin: 1%;
    padding:2%;
}